<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HackerEvents: $name</title>
    <meta name="description" content="$name on $start_render @ $place ($country).">
    <meta name="keywords" content="hacker meetup event software workshop">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta property="og:title" content="HackerEvents: $name">
    <meta property="og:description" content="$name on $start_render @ $place ($country).">
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://www.hackerevents.org">
    <meta name="twitter:title" content="HackerEvents: $name">
    <meta name="twitter:description" content="$name on $start_render @ $place ($country).">
    <meta name="twitter:image" content="/assets/logo.png">

    <link rel="icon" type="image/png" href="/assets/favicon.ico">

    <link rel="stylesheet" href="/styles/knacss.css" media="all">
    <link rel="stylesheet" href="/styles/style.css" media="all">


    <link rel="alternate" type="application/atom+xml" href="https://www.hackerevents.org/feed.atom">

  </head>

  <body>
    <header class="main flex-container">
        <a href="/">
            <div class="logo flex-container-v">
                <img src="/assets/logo.png">
            </div>
        </a>
        <div class="text flex-item-fluid">
        <h1>HackerEvents</h1>
        <p class="description">Curated list of upcoming software related events: meetups, conferences and workshops.</p>
        </div>
    </header>
    <section class="about">    
        <p class="contribute">This website is free and open source. See your
        favorite event listed here by 
        <a href="https://github.com/hackerevents/hackerevents">contributing</a>!</p>
        <p class="contribute">
        If you want to follow our latest events, please subscribe to our
        <a href="/feed.atom">atom feed</a> or follow us on
        <a href="https://twitter.com/hackerevents">Twitter</a>.
        </p>
    </section>
