<div class="event flex-container">
    <div class="w150p">
        <div class="main-date">
            <p class="day">$startday</p>
            <p class="dayn">$startdayn</p>
            <p class="month">$startmonth</p>
            <p class="year">$startyear</p>
        </div>
    </div>
    <div class="flex-item-fluid">
        <h3>$name</h3>
        <p class="date">From $start_render to $end_render</p>
        <p class="address">$place<br />$address_render</p>
        <p class=links>
        <a href="$link">URL</a> -
        <a href="$ical_url">ICAL</a> -
        <a href="http://www.openstreetmap.org/search?query=$address">MAP</a>
    </div>
</div>
